# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  party,
  randomForest,
  RColorBrewer,
  tcltk,
  tcltk2,
  MASS,
  vegan,
  Hmisc,
  clusterSim,
  rpart,
  car,
  sciplot
)
